<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Filmes</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
	crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
		<a class="navbar-brand" href="/movie/" style="color:gray;">Logout
				</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page">Usuário: <label
							th:text="${pessoaModel.nome}"></label></a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page">Email: <label
							th:text="${pessoaModel.email}"></label></a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/movie/minhaconta">Minha conta</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Gênero</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown </a>
						<ul class="dropdown-menu dropdown-menu-end"
							aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Something else
									here</a></li>
						</ul></li>
				</ul>
				<form class="navbar-nav ms-auto" action="pesquisarLogado"
					method="POST" id="pesquisar">
					<input class="form-control mr-sm-2" type="text" name="consultar">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit"
						style="margin: 5px" th:value="${consultar}">Search</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="table-responsive-sm">
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">Título</th>
					<th scope="col">Ano</th>
					<th scope="col">Classificação</th>
					<th scope="col">Lançamento</th>
					<th scope="col">Duração</th>
					<th scope="col">Gênero</th>
					<th scope="col">Diretor</th>
					<th scope="col">Atores</th>
					<th scope="col">Idiomas</th>
					<th scope="col">País de origem</th>
					<th scope="col">IMDB</th>
					<th scope="col">Poster</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${title}"></td>
					<td th:text="${year}"></td>
					<td th:text="${rated}"></td>
					<td th:text="${released}"></td>
					<td th:text="${runtime}"></td>
					<td th:text="${genre}"></td>
					<td th:text="${director}"></td>
					<td th:text="${actors}"></td>
					<td th:text="${language}"></td>
					<td th:text="${country}"></td>
					<td th:text="${imdbRating}"></td>
					<th><img th:src="${poster}" id="imageoption"></th>
				</tr>
			</tbody>
		</table>


		<div class="container">
			<h3 th:text="${plot}"></h3>
		</div>

		<div th:if="${title == null}" class="text-center">
			<br /> <br /> <br />
			<h2>Filme não encontrado!</h2>
			<h3>Certifica-se que o nome foi digitado corretamente</h3>
			<h4>PESQUISAR PELO NOME ORIGINAL DO FILME/ANIME/SERIE</h4>
		</div>

	</div>
	<br />
	<br />
	<br />
	<div class="d-flex justify-content-center">
		<div th:if="${title != null}">
			<form class="navbar-nav ms-auto" action="assistidos" method="POST"
				id="pesquisar">
				<button class="btn btn-dark" th:value="${assistido}" type="submit">Assistido</button>
			</form>
			<br />
			<form class="navbar-nav ms-auto" action="listas" method="POST"
				id="pesquisar">
				<button class="btn btn-dark" th:value="${lista}" type="submit">Adicionar
					a lista</button>
			</form>
		</div>
	</div>
</body>